{% extends"base.html" %}
{% block title %} Top Keywords {% endblock %}
{% block Body %}
<h1>Here Are a Word Cloud Of The Top Keywords</h1>
<br>
<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
body h1{
    text-align:center
}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/wc.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
am5.ready(function() {


// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
var root = am5.Root.new("chartdiv");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
root.setThemes([
  am5themes_Animated.new(root)
]);

var zoomableContainer = root.container.children.push(
  am5.ZoomableContainer.new(root, {
    width: am5.p100,
    height: am5.p100,
    wheelable: true,
    pinchZoom: true
  })
);

var zoomTools = zoomableContainer.children.push(am5.ZoomTools.new(root, {
  target: zoomableContainer
}));
var data = "";
{% for result in results %}
data += "{{result._id}}"+" ";
{% endfor %}
console.log(data);
// Add series
// https://www.amcharts.com/docs/v5/charts/word-cloud/
var series = zoomableContainer.contents.children.push(am5wc.WordCloud.new(root, {
  maxCount:100,
  minWordLength:2,
  maxFontSize:am5.percent(35),
  text: data
  }));


// Configure labels
series.labels.template.setAll({
  paddingTop: 5,
  paddingBottom: 5,
  paddingLeft: 5,
  paddingRight: 5,
  fontFamily: "Courier New"
});
}); // end am5.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>

{% endblock %}